.img {
    width: 100%;
}

.alumniImg {
    width: 200px;
    height: 150px;
    object-fit: cover;
    align-items: center;

}


.alumniP {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: inherit;
}

.alumniP p {
    margin-right: 80px;

}

.AlumniList {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 60px;

}

h1 {
    text-align: center;
}