.img {
    width: 100%;
}

.alumniImg {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.AlumniList {
    border: 20px;
}

.AlumniListContainer {
    text-align: center;
    align-items: center;
}