.img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

.alumniContent {
    display: flex;
    flex: 1;
    align-items: center;
}

.alumniImg {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.buttonContainer {
    margin-left: auto;
}