    /* .HomePage {
        text-align: center;
        background-color: light;
        color: black;
        text-decoration: none;
        font-family: sans-serif;

    } */


    .imageHomePage {
        width: 100%;
    }