.alumniBody {
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px, rgba(0, 0, 0, 0.35) 10px 10px, rgba(0, 0, 0, 0.35) 15px 15px, rgba(0, 0, 0, 0.35) 20px 20px, rgba(0, 0, 0, 0.35) 25px 25px;
}

.alumniInfo {
    text-decoration: none;
    color: black;
}